<style>body{ text-align:center; }</style>
<h3>Choose an Option Below:</h3>
<%= link_to 'List Books', action: 'list' %> |
<%= link_to 'Add Books', action: 'add' %> |
<%= link_to 'Highest Costing Book', action: 'compute' %>
