<h2>You entered the following:</h2>
<p>First Name: <%= @first %><p />
<p>Last Name: <%= @last %><p />
<p>Gender: <%= @gender %><p />
<br><%= link_to 'Enter Another person', :action => 'start' %></h1>
