<style>body{ text-align:center; }</style>
<h3>Not Implemented Yet</h3>
<%= link_to "Index", :action => "index" %> |
<%= link_to "List Books", :action => "list" %> |
<%= link_to 'Highest Costing Book',:action=>'compute' %> |
<%= link_to "Add Books", :action => "add" %>
