<style>body{ text-align:center; }</style>
<h3>Please Choose an Option Below:</h3>
<br />
<%= link_to "Index", :action => "index" %> |
<%= link_to "List Books", :action => "list" %> |
<%= link_to 'Highest Costing Book',:action=>'compute' %> |
<%= link_to "Add Books", :action => "add" %>
