<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>
<hr />
<%= link_to "Buy", :action => "buy", :controller => "purchases" %> |
<%= link_to "Sell", :action => "sell", :controller => "purchases" %> |
<%= link_to "List", :action => "list", :controller => "purchases" %>
